
<section class="container py-3 align-content-center">
  <h2 class="m-auto col-md-6 py-3 text-center">Enter login information:</h2>
  <div class="col-md-6 m-auto">
    <%= form_with url: sessions_path do |f|%>
    <div class="form-group">  
      <%= f.label :email %>
      <%= f.email_field :email, class:'form-control', placeholder:'Enter email' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:'form-control', placeholder:'Enter password' %>
    </div>
    <%= f.submit "Log In" %>
  <% end %>
  </div>

</section>
<br>
<%= current_user&.name %>
